.profile-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-container h2 {
  font-size: 2rem;
  color: #f0ad4e;
  margin-bottom: 20px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

.profile-container label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
  color: #333;
}

.profile-container input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.profile-container input:focus {
  /* border-color: #2a9d8f; */
  outline: none;
  box-shadow: 0 0 5px rgba(42, 157, 143, 0.5);
}

.profile-container button {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 90%;
  margin-bottom: 3%;
  width: 20%;
}

.profile-container button:hover {
  background-color: #f0ad4e;
  transform: scale(1.05);
}

.success-message {
  margin-top: 15px;
  color: #f0ad4e;
  font-weight: bold;
}

@media (max-width: 767px) {
  .profile-container {
    margin-right: -70px;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    padding: 20px;
  }

  .profile-container input {
    font-size: 0.9rem;
  }

  .profile-container button {
    font-size: 1rem;
  }
}